body {
    margin: 0;
    font-family: sans-serif;
    background: #0a192f;
    color: #ccd6f6;
}

/* 全体 */
.container {
    display: flex;
    max-width: 1100px;
    margin: auto;
}

/* 左サイド */
.sidebar {
    position: fixed;
    width: 250px;
    height: 100vh;
    padding: 50px 30px;
}

.sidebar h1 {
    color: #64ffda;
}

.sidebar a {
    display: block;
    color: #8892b0;
    text-decoration: none;
    margin: 10px 0;
}

.sidebar a:hover {
    color: #64ffda;
}

/* メイン */
.content {
    margin-left: 300px;
    padding: 50px;
    max-width: 700px;
}

/* セクション */
section {
    margin-bottom: 80px;
}

h2 {
    color: #64ffda;
}

/* カード */
.card {
    background: #112240;
    padding: 20px;
    border-radius: 8px;
    margin-top: 10px;
}

.card a {
    color: #64ffda;
}